@media only screen and (min-width: 48em) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    width: 100%;
    height: auto;
  }

  .hero-image {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }

.hero-image .welcome {
    position: absolute;
    top: 10px;
    left: 230px;
    color: var(--paragraph-color-on-white);
    font-weight: bold;
    background-color: transparent;
    font-size: 35px;
  }

  .hero-image .button {
    font-size: 20px; /* Solo escalamos la fuente, hereda los % de base.css */
  }



  .news-release {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    background-color: var(--paragraph-color-on-white);
    padding: 15px;
    border-radius: 15px;
  }

  .news-release h3 {
    font-size: 24px;
    margin-top: 0;
    color: var(--secondary-color);
  }

  .news-release .text-1 {
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
  }

  .join {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    margin: 0;
    width: 100%;
  }

  .weather {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    margin: 0;
    width: 100%;
  }

  .forecast-main-card {
    grid-column: 3 / 3;
    grid-row: 4 / 5;
    width: 100%;
    max-width: 100%;
  }

  /* Spot Light */
  .spotlights {
    grid-column: 1 / 4;
    grid-row: 3/4;
    display: flex;
    flex-direction: row;
    gap: 15px;
    background-color: var(--secondary-color);
    padding: 15px;
    border-radius: 15px;
  }

  /* Spot Light */

.spotlights .right2,
  .spotlights .right3 {
    flex: 1;
    background-color: #3481fe0f;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
        border: 1px solid var(--accent1-color);
    border-radius: 15px;
  }


  .spotlights .right4 {
    display: none;
  }

  /* discovery page css */

  .title {
    color: var(--secondary-color);
  }

  .box-grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(15, 1fr);
    padding-bottom: 15px;
  }

  .banner {
    grid-column: 1 / 10;
    grid-row: 1 / 4;
  }

  .banner img {
    width: 100%;
  }

  .box-section {
    grid-column: 2 / 9;
    grid-row: 2 / 7;
    background: #88c0de54;
    padding-top: 1.5em;
  }

  .box-headline {
    grid-column: 2 / 9;
    grid-row: 2 / 3;
    text-align: center;
    padding-top: 1.5em;
  }

  .box-paragraph {
    grid-column: 6 /9;
    grid-row: 3 / 7;
    padding-top: 3em;
    justify-self: start;
    width: 100%;
    padding-left: 10px;
  }

  .box-paragraph p {
    text-align: justify;
    font-size: 1.6vw;
  }

  .box-img {
    justify-self: start;
    grid-column: 2 / 6;
    grid-row: 3 / 7;
    width: 100%;
    padding-top: 5em;
    padding-left: 1.6em;
  }

  /* dicovery page part 2 */

  .main-paragraph-1 {
    grid-column: 1/5;
    grid-row: 7/10;
    padding-top: 0.8em;
    padding-left: 25px;
    padding-right: 25px;
    text-align: justify;
    font-size: 1.6vw;
  }

  .main-paragraph-1 p {
    text-align: justify;
    font-size: 1.6vw;
  }

  .main-right-img {
    grid-column: 6/10;
    grid-row: 7/10;
    width: 100%;
    padding-top: 1.5em;
    padding-left: 1.6em;
  }

  .img-efect {
    width: 100%;
  }

  .main-paragraph-2 {
    grid-column: 6/10;
    grid-row: 10/13;
    padding-top: 0.1em;
    padding-left: 25px;
    padding-right: 25px;
    text-align: justify;
  }

  .main-paragraph-2 p {
    text-align: justify;
    font-size: 1.6vw;
  }

  .main-left-img {
    grid-column: 1/6;
    grid-row: 10/13;
    width: 80%;
    padding-top: 0.5em;
    padding-left: 0.6em;
  }

  .main-paragraph-3 {
    grid-column: 1/5;
    grid-row: 13/16;
    padding-top: 0.2em;
    padding-left: 25px;
    padding-right: 25px;
    text-align: justify;
    font-size: 1.6vw;
  }

  .main-paragraph-3 p {
    text-align: justify;
    font-size: 1.6vw;
  }

  .main-right-img-3 {
    grid-column: 5/9;
    grid-row: 13/16;
    width: 100%;
    padding-top: 1.5em;
    padding-left: 1.6em;
  }

  #img-box {
    width: 100%;
  }

  .box_join {
    box-sizing: border-box;
    max-width: 80%;
    text-align: center;
    margin: 0 auto;
    padding: 1em;
  }
}
